* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("../assets/images/dancersWithoutBackgroundFFB3C1.png");
  background-size: 35%;
  background-position: center calc(50% + 80px); /* За прецизно позициониране на картинката по вертикалата */
  background-repeat: no-repeat;
  background-attachment: scroll; /* Препоръчана поправка за iOS */
  background-color: #fff0f3;
  z-index: -1;
}

body {
  padding: 10px;
}

header {
  padding: 10px;
  font-family: "Rubik Dirt", Arial, Helvetica, sans-serif;
  font-size: 11px;
  letter-spacing: 0.15em;
  color: #fff0f3;
  text-align: center;
  background-color: #c34166;
  border-radius: 10px;
}

span {
  text-transform: uppercase;
  color: #ffccd5;
}

main {
  margin: 10px auto 0;
}

.main-message {
  font-family: "pacifico", Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
}

section {
  font-family: "pacifico", Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
  border: 2px solid #c34166;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 0;
}

.last-section {
  margin-bottom: 28px;
}

h2 {
  color: #c34166;
  text-align: center;
}

ol {
  margin: 0;
  padding: 0;
  color: #c34166;
}

ol li {
  margin-left: 3em;
  color: #c34166;
  font-size: 20px;
}

a,
a:visited {
  color: var(--text-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--accent-color);
}

a:active {
  color: var(--active-color);
}

a:hover {
  background-color: #ffccd5;
  border-radius: 7px;
}

li a {
  margin-right: 60px;
  display: block; /* За да бъде променен цветът на целия ред, съдържащ линка */
  padding: 3px 0;
}

footer {
  color: #ffb3c1;
  text-align: center;
  position: fixed;
  bottom: 10px;
  width: 100%;
}
